<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>教务管理系统</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- 提交统一用AJAX处理-->
</head>
<body>
<div style="margin-left: 2%; margin-right: 2%">
    <ul class="nav nav-tabs">
        <li role="presentation">欢迎:{{username}}</li>
    </ul>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center">添加用户</h1>
        </div>
    </div>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="text-left col-md-6 col-md-offset-3">
            <div>
                <form role="form" method="post" action="#">
                    <label for="uploadUserFile">上传用户文件(.txt)</label>
                    <input type="file" id="uploadUserFile" name="uploadUserFile">
                    <input type="submit" class="btn btn-default" id="upload" value="上传">
                </form>
                <p class="text-left">输入格式为(每条换行)：</p>
                <p class="text-info">学工号 姓名 性别 学院 专业 用户类型(学生/教师)</p>
            </div>
            <hr><br>
        <hr>
        <div class="row">
            <div class="text-center col-md-6 col-md-offset-3">
                <p>Copyright &copy; 2017 &middot; All Rights Reserved &middot;</p>
            </div>
        </div>
        <hr>
    </div>
</div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/jquery-1.11.2.min.js"></script>
<script>
//    $(document).ready(
//        function () {
//            //Fetch info
//            $("#upload").click(function () {
//                top.location.reload();
//
//            });//Upload pic and refresh
//
//            $("#submit").click(function () {
//                top.location.reload();//Upload info & refresh
//
//            });
//        }
//    );

</script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../js/bootstrap.js"></script>
</body>
</html>
