<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>教务管理系统</title>

    <!-- Bootstrap -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- 提交统一用AJAX处理-->
</head>
<body>
<div style="margin-left: 2%; margin-right: 2%">
    <ul class="nav nav-tabs">
        <li role="presentation">欢迎:{{username}}</li>
    </ul>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center">用户信息搜索与修改</h1>
        </div>
    </div>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="text-left col-md-6 col-md-offset-3">
            <form class="form-horizontal text-center">

                <div class="form-group">
                    <label for="searchNo" class="col-sm-2 control-label">待搜索学工号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="searchNo" id="searchNo">
                    </div>
                    <label>
                        <input type="radio" name="type" id="student" value="student" checked>
                        学生
                    </label>
                    <label>
                        <input type="radio" name="type" id="teacher" value="teacher">
                        教师
                    </label>
                    <button type="submit" class="btn btn-default" id="search">搜索</button>
                </div>
            </form>
            <form class="form-horizontal text-center">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id" class="col-sm-2 control-label">学工号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="id" id="id">
                    </div>
                    <label for="name" class="col-sm-2 control-label">姓名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" id="name">
                    </div>
                    <label for="gender" class="col-sm-2 control-label">性别</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="gender" id="gender">
                    </div>
                    <label for="department" class="col-sm-2 control-label">学院</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="department" id="department">
                    </div>
                    <label for="major" class="col-sm-2 control-label">专业</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="major">
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone_number" class="col-sm-2 control-label">电话号码</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="phone_number" id="phone_number">
                    </div>
                    <label for="address" class="col-sm-2 control-label">住址</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="address" id="address">
                    </div>
                </div>
                <input type="submit" class="btn btn-default" value="提交修改" id="submit">
            </form>
        </div>
        <hr>
        <div class="row">
            <div class="text-center col-md-6 col-md-offset-3">
                <p>Copyright &copy; 2017 &middot; All Rights Reserved &middot;</p>
            </div>
        </div>
        <hr>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    $(document).ready(
        function () {
            //Fetch info
            $("#search").click(function () {
                //top.location.reload();

            });

            $("#submit").click(function () {
                //top.location.reload();//Upload info & refresh

            });
        }
    );

</script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../js/bootstrap.js"></script>
</body>
</html>
