<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>教务管理系统</title>

    <!-- Bootstrap -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- 提交统一用AJAX处理-->
</head>
<body>
<div style="margin-left: 2%; margin-right: 2%">
    <ul class="nav nav-tabs">

    </ul>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center">删除用户</h1>
        </div>
    </div>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="text-left col-lg-10 col-lg-offset-1">
             <form class="form-horizontal text-center" method="get">
                <div class="form-group">
                    <label for="searchNo" class="col-sm-2 control-label">待搜索学工号</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="id" id="searchNo">
                    </div>
                    <label>
                        <input type="radio" name="type" id="student" value="Student" checked>
                        学生
                    </label>
                    <label>
                        <input type="radio" name="type" id="instructor" value="Instructor">
                        教师
                    </label>
                    <button class="btn btn-default" id="search" >搜索</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="text-left col-lg-10 col-lg-offset-1">
            <table class="table table-striped" id="userTable">
                <thead>
                <tr>
                    <th>*</th>
                    <th>学工号</th>
                    <th>姓名</th>
                    <th>学院</th>
                    <!--可加其他信息-->
                </tr>
                </thead>
                <tbody id="tableBody">


                <!--<tr>-->
                <!--<td>Sachin</td>-->
                <!--<td>Mumbai</td>-->
                <!--<td>400003</td>-->
                <!--</tr>-->
                <!--<tr>-->
                <!--<td>Uma</td>-->
                <!--<td>Pune</td>-->
                <!--<td>411027</td>-->
                <!--</tr>-->
                </tbody>
            </table>
        </div>
        <hr>
        <div class="row">
            <div class="text-center col-md-6 col-md-offset-3">
                <p>Copyright &copy; 2017 &middot; All Rights Reserved &middot;</p>
            </div>
        </div>
        <hr>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    $(document).ready(
        function () {

            $("#search").click(
                function () {
                    var id = $("#searchNo").val();

                    var type = $('input:radio[name="type"]:checked').val();
                    $("#userTable tr:not(:first)").empty();
                    $.getJSON('/basicInfo/deleteUser/',{'username':id, 'type':type}, function (ret) {
                        var newRow = '<tr class="item"><td><input type="checkbox" name="check"></td> <td>'+
                                ret['id'] +'</td> <td>'+
                                ret['name']+'</td> <td>'+
                                ret['department']+'</td> </tr>';
                        $('#userTable').append(newRow);
                    });

                }
            );

            $("#delete").click(
              function () {
                  var list = [];

                  $(".item").each(function () {
                     var temp = $(this).children().eq(0);
                     var chkbox = temp.children();

                     if(chkbox.prop('checked'))
                     {
                         var id = chkbox.parent().parent().children().get(1).innerHTML;
                         list.push(id);
                     }
                  });
                  if(list.length == 0)
                      alert("未选中任何用户！");
                  else
                 // alert(list);
                    $.post("/basicInfo/deleteUser/", {'userList': list}, function (ret) {
                        alert(ret);
                    });
              }  
            );
            //Delete.... use each() to traversal
        }
    );
</script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../js/bootstrap.js"></script>
</body>
</html>
