<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>教务管理系统</title>

<!-- Bootstrap -->
<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div style="margin-left: 2%; margin-right: 2%">
    <ul class="nav nav-tabs">
        <li role="presentation">欢迎:{{username}}</li>
    </ul>
    <ul class="nav  navbar-right">
      <li role="presentation"><a href="/basicInfo/setPassword/">修改密码</a></li>
    </ul>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">教务管理系统</h1>
    </div>
  </div>
  <hr>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4 text-center">
        <h4><strong>个人信息</strong></h4>
        <p>查询/填写/修改个人信息</p>
      <a href="/basicInfo/changeInfo/"><button type="button" class="btn btn-info btn-block">点击查看</button></a>
    </div>
    <div class="text-center col-sm-4">
        <h4><strong>成绩查询</strong></h4>
        <p>查询个人成绩</p>
        <a href="/basicInfo/stuGradeQuery/"><button type="button" class="btn btn-info btn-block">点击查询</button></a>
        <!-- Left for other use
      <h4>Adding <strong>Labels</strong></h4>
      <p>Using the insert panel, add labels to your page by using the label component.</p>
      <span class="label label-warning">Info Label</span><span class="label label-danger">Danger Label</span> </div>
    <div class="text-center col-sm-4">
      <h4>Adding <strong>Glyphicons</strong></h4>
      <p>You can also add glyphicons to your page from within the insert panel.</p>
      <div class="row">
        <div class="col-xs-4"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></div>
        <div class="col-xs-4"><span class="glyphicon glyphicon-home" aria-hidden="true"> </span> </div>
        <div class="col-xs-4"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
      </div>-->
    </div>
    <!--新增加的论坛按钮!-->
      <div class="col-sm-4 text-center">
        <h4><strong>教务论坛</strong></h4>
        <p>进入论坛</p>
      <a href="/bbs/bbs-main/"><button type="button" class="btn btn-info btn-block">点击进入</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 text-center">
        <h4><strong>资源共享</strong></h4>
        <p>查看课程资源及作业</p>
        <a href="/shareSource/"><button type="button" class="btn btn-info btn-block">点击查看</button></a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="text-center col-md-6 col-md-offset-3">
    <p>Copyright &copy; 2017 &middot; All Rights Reserved &middot;</p>
    </div>
  </div>
  <hr>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
</body>
</html>
