<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>教务管理系统</title>

    <!-- Bootstrap -->
   <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!-- 提交统一用AJAX处理-->
</head>
<body>
<div style="margin-left: 2%; margin-right: 2%">
    <ul class="nav nav-tabs">
        <li role="presentation">欢迎:<span id="teacherId"></span></li>
    </ul>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center">课程成绩查询</h1>
            <h2>当前课程：<span id="courseName"></span></h2>
        </div>
    </div>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="text-left col-md-6 col-md-offset-3">
            <label>平均分：<span id="avgPts"></span></label>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="text-left col-md-6 col-md-offset-3">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>学号</th>
                    <th>成绩</th>
                    <th>排名</th>
                </tr>
                </thead>
                <tbody>
                {{% for i in gradeList%}}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.grade}}</td>
                    <td>{{i.rank}}</td>
                </tr>
                {{% endfor %}}
                </tbody>
            </table>
            <button class="btn btn-default" id="print">打印成绩</button>
        </div>
    </div>
    <hr>
    <div>
        <div class="row">
            <div class="text-center col-md-6 col-md-offset-3">
                <canvas id="myChart" width="400" height="400">

                </canvas>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <div class="row">
            <div class="text-center col-md-6 col-md-offset-3">
                <p>Copyright &copy; 2017 &middot; All Rights Reserved &middot;</p>
            </div>
        </div>
        <hr>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    $(document).ready(
        function () {

        }
    );

</script>

<script src="https://cdn.bootcss.com/Chart.js/2.6.0/Chart.js"></script>
<script type="text/javascript">

    var data = {
        labels : ["<60","60-69","70-79","80-89","90-100"],
        datasets : [
            {
                fillColor : "rgba(220,220,220,0.5)",
                strokeColor : "rgba(220,220,220,1)",
                text: 'Score',
                data : [5,12,40,30,12]
            }
        ]
    };
    $(document).ready(function () {
        var ctx = $("#myChart").get(0).getContext("2d");
        var myBar = new Chart(ctx,
            {
                type: 'bar',
                data: data,
                options:{
                    legend:{
                        position: 'top',
                    },
                    title:{
                        display:true,
                        text: '成绩分布图'
                    }
                }
            });
    })

</script>
</body>
</html>
