<!DOCTYPE html>
<html style="height:100%;">
<head>
	<meta charset="utf-8">
	<title>资源共享系统</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="height:100%;">
<div class="container" style="height:100%;">
    <div class="row clearfix">
		<div class="col-md-1 column">
		</div>
		<div class="col-md-10 column">
			<div class="page-header">
				<h1>
					资源共享系统
				</h1>
			</div>
		</div>
		<div class="col-md-1 column">
		</div>
	</div>
	<div class="row clearfix"style="height:50%;">
		<div class="col-md-2 column">
		</div>
		<div class="col-md-8 column"style="height:100%;">
            <div style="height:100%; overflow:auto;">
			<table class="table" >
				<thead>
					<tr>
						<th>
							课程编号
						</th>
						<th>
							课程名称
						</th>
						<th>
							课程资源
						</th>
						<th>
							课程作业
						</th>
					</tr>
				</thead>
                <tbody>
                {% for onecontent in content %}
					<tr>
						<td>
							{{onecontent.id}}
						</td>
						<td>
							{{onecontent.title}}
						</td>
						<td>
							<a href="{{ onecontent.source_link }}">资源链接</a>
						</td>
						<td>
							<a href="{{ onecontent.homework_link }}">作业链接</a>
						</td>
					</tr>
                {% endfor %}
				</tbody>
			</table>
            </div>
		</div>
        <div class="row clearfix">
			<div class="col-md-3 column">
			</div>
			<div class="col-md-12 column">
				<div class="row clearfix">
					<div class="col-md-4 column">
					</div>
					<div class="col-md-4 column">
					<a href="../">
						<div class="col-md-8 column">
							<button type="button" class="btn btn-block btn-lg btn-primary" )>返回系统界面</button>
						</div>
					</a>
					</div>
					<div class="col-md-4 column">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>