<!--
学生作业主界面
-->
<!DOCTYPE html>
<html style="height:100%;">
<head>
	<meta charset="utf-8">
	<title>资源共享系统-作业系统</title>
	<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="height:100%;">
<div class="container" style="height:100%;">
    <div class="row clearfix">
		<div class="col-md-1 column">
		</div>
		<div class="col-md-10 column">
			<div class="page-header">
				<h1>
					资源共享系统 <small>作业系统</small>
				</h1>
			</div>
		</div>
		<div class="col-md-1 column">
		</div>
	</div>
	<div class="row clearfix"style="height:50%;">
		<div class="col-md-2 column">
		</div>
		<div class="col-md-8 column"style="height:100%;">
            <div style="height:100%; overflow:auto;">
			<table class="table" >

				<thead>
					<tr>
						<th>
							序号
						</th>
						<th>
							截止时间
						</th>
						<th>
							参考资料
						</th>
						<th>
							备注
						</th>
					</tr>
				</thead>
                <tbody>
                {% for ob in allob %}

					<tr>

						<td>
                            <a href="{{ ob.id }}">
                            {{ ob.id }}</a>
						</td>
						<td>
							{{ ob.ddl }}
						</td>
						<td>
							{{ ob.reference }}
						</td>
						<td>
							无
						</td>
					</tr>

                {% endfor %}
				</tbody>
			</table>
            </div>
		</div>
		<div class="col-md-2 column">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-3 column">
		</div>
		<div class="col-md-6 column">
            <div class="row clearfix">
		                    <a href="hw/">
                            <div class="col-md-6 column">
                                <button  disabled="disabled" type="button" class="btn btn-block btn-lg btn-primary" )>添加新的作业</button>
                            </div>
                            </a>
                            <!--<a href="http://127.0.0.1:8000/testui2/">-->
                            <a href="..">
		                    <div class="col-md-6 column">
                                <button type="button" class="btn btn-block btn-lg btn-primary">返       回</button>
		                    </div>
                            </a>
            </div>
		</div>
		<div class="col-md-3 column">
		</div>
	</div>
</div>

</body>
</html>