<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>帖子主页</title>

    <!-- Le styles -->
    <link href="http://cdn.staticfile.org/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://ibootstrap-file.b0.upaiyun.com/www.layoutit.com/css/builder/v3/layoutit.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="http://ibootstrap-file.b0.upaiyun.com/www.layoutit.com/js/html5shiv.js"></script>
	<![endif]-->

    <!-- Fav and touch icons -->
    <link href="http://ibootstrap-file.b0.upaiyun.com/www.layoutit.com/img/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
    <link href="http://ibootstrap-file.b0.upaiyun.com/www.layoutit.com/img/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
    <link href="http://ibootstrap-file.b0.upaiyun.com/www.layoutit.com/img/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
    <link href="http://ibootstrap-file.b0.upaiyun.com/www.layoutit.com/img/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="http://ibootstrap-file.b0.upaiyun.com/www.layoutit.com/img/favicon.png" rel="shortcut icon">

    <script src="//hm.baidu.com/hm.js?5d1095a7e8dafabe802aa295af4d0ce2"></script>
    <script src="http://cdn.staticfile.org/jquery/2.0.0/jquery.min.js" type="text/javascript"></script>
    <script src="http://cdn.staticfile.org/jqueryui/1.10.2/jquery-ui.min.js" type="text/javascript"></script>
    <script src="http://cdn.staticfile.org/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
    <script src="http://cdn.staticfile.org/twitter-bootstrap/3.0.1/js/bootstrap.min.js" type="text/javascript"></script>

    <script src="http://ibootstrap-file.b0.upaiyun.com/www.layoutit.com/js/jquery.htmlClean.js" type="text/javascript"></script>
    <script src="http://ibootstrap-file.b0.upaiyun.com/www.layoutit.com/js/builder/v3/scripts.min.js" type="text/javascript"></script>

</head>

<body class="devpreview" style="cursor:auto;min-height:300px;">
    <div style="margin-left: 2%; margin-right: 2%">
        <ul class="nav  navbar-right">
            <li role="presentation"><a href="/bbs/bbs-main/">返回</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-4 column">
                <p align="center">
                    <strong>标题：{{post.title}}</strong>
                </p>
                <p align="center">
                    内容：{{post.content}}
                </p>
            </div>
            <div class="col-md-2 column">
                <p align="center">发帖者：{{post.poster}}</p>
                <p align="center">发帖时间：{{post.time}}</p>
            </div>
            <div class="col-md-1 column" align="center">
                <form role="form" action="/bbs/reply/" method="get">
                    <input type="hidden" name="post_id" value="{{post.id}}">
                    <!--<input type="hidden" name="user_id" value="{{user.id}}">!-->
                    <button class="btn btn-default btn-primary" type="submit">回复</button>
                </form>
            </div>
            {% if is_manager %}
            <div class="col-md-1 column" align="center">
                <form role="form" action="/bbs/set-top/" method="post">
                    <input type="hidden" name="post_id" value="{{post.id}}">
                    <button class="btn btn-default btn-primary" type="submit">置顶</button>
                </form>
            </div>
            {% endif %} {% if is_manager %}
            <div class="col-md-1 column" align="center">
                <form role="form" action="/bbs/set-best/" method="post">
                    <input type="hidden" name="post_id" value="{{post.id}}">
                    <button class="btn btn-default btn-primary" type="submit">加精</button>
                </form>
            </div>
            {% endif %} {% if is_manager %}
            <div class="col-md-1 column" align="center">
                <form role="form" action="/bbs/delete-post-manager/" method="post">
                    <input type="hidden" name="post_id" value="{{post.id}}">
                    <button class="btn btn-default btn-primary" type="submit">删除</button>
                </form>
            </div>
            {% endif %}
        </div>
        {% for reply in replies %}
        <div class="row clearfix">
            <div class="col-md-12 column">
                <table class="table" style="table-layout:fixed;width:95%;word-wrap:break-word">
                    <thead>
                        <tr>
                            <th width="125px">
                                回帖人
                            </th>
                            <th width="125px">
                                回帖时间
                            </th>
                            <th width="125px">
                                短消息
                            </th>
                            {% if is_manager %}
                            <th width="125px">
                                管理用户言论
                            </th>
                            <th width="125px">
                                是否删除
                            </th>
                            {% endif %}
                            <th>
                                回帖内容
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{reply.replier}}</td>
                            <td>{{reply.time}}</td>
                            <td>
                                <form role="form" action="/bbs/send-message-to/">
                                    <input type="hidden" name="receiver_id" value="{{reply.replier_id}}">
                                    <button class="btn btn-sm btn-primary" type="submit">短消息</button>
                                </form>
                            </td>
                            {% if is_manager %}
                            <td>
                                <form role="form" action="/bbs/manage-user/">
                                    <input type="hidden" name="user_id" value="{{reply.replier_id}}">
                                    <button class="btn btn-sm btn-primary" type="submit">管理</button>
                                </form>
                            </td>
                            <td>
                                <form role="form" action="/bbs/delete-reply/" method="post">
                                    <input type="hidden" name="reply_id" value="{{reply.id}}">
                                    <input type="hidden" name="post_id" value="{{post.id}}">
                                    <button class="btn btn-sm btn-primary" type="submit">删除</button>
                                </form>
                            </td>
                            {% endif %}
                            <td>{{reply.content}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}

        <div class="row clearfix">
            <div class="col-md-12 column">
                <p align="center">
                    <strong>copyright</strong>@2017软件工程基础王新宇老师
                </p>
            </div>
        </div>
    </div>
    <script>
        var status = "{{ status }}";
        if (status != "true")
            alert(status);
    </script>
</body>

</html>