<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>短消息查看</title>

    <!-- Le styles -->
    <link href="http://cdn.staticfile.org/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://ibootstrap-file.b0.upaiyun.com/www.layoutit.com/css/builder/v3/layoutit.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
	<script src="http://ibootstrap-file.b0.upaiyun.com/www.layoutit.com/js/html5shiv.js"></script>
	<![endif]-->

    <!-- Fav and touch icons -->
    <link href="http://ibootstrap-file.b0.upaiyun.com/www.layoutit.com/img/apple-touch-icon-144-precomposed.png" rel="apple-touch-icon-precomposed" sizes="144x144">
    <link href="http://ibootstrap-file.b0.upaiyun.com/www.layoutit.com/img/apple-touch-icon-114-precomposed.png" rel="apple-touch-icon-precomposed" sizes="114x114">
    <link href="http://ibootstrap-file.b0.upaiyun.com/www.layoutit.com/img/apple-touch-icon-72-precomposed.png" rel="apple-touch-icon-precomposed" sizes="72x72">
    <link href="http://ibootstrap-file.b0.upaiyun.com/www.layoutit.com/img/apple-touch-icon-57-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="http://ibootstrap-file.b0.upaiyun.com/www.layoutit.com/img/favicon.png" rel="shortcut icon">

    <script src="//hm.baidu.com/hm.js?5d1095a7e8dafabe802aa295af4d0ce2"></script>
    <script src="http://cdn.staticfile.org/jquery/2.0.0/jquery.min.js" type="text/javascript"></script>
    <script src="http://cdn.staticfile.org/jqueryui/1.10.2/jquery-ui.min.js" type="text/javascript"></script>
    <script src="http://cdn.staticfile.org/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js" type="text/javascript"></script>
    <script src="http://cdn.staticfile.org/twitter-bootstrap/3.0.1/js/bootstrap.min.js" type="text/javascript"></script>

    <script src="http://ibootstrap-file.b0.upaiyun.com/www.layoutit.com/js/jquery.htmlClean.js" type="text/javascript"></script>
    <script src="http://ibootstrap-file.b0.upaiyun.com/www.layoutit.com/js/builder/v3/scripts.min.js" type="text/javascript"></script>

</head>

<body class="devpreview" style="cursor:auto;min-height:297px;">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-2 column">
                <h4>
                    查看者：{{username}}
                </h4>

            </div>

        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">

                <table class="table" style="table-layout:fixed;width:95%;word-wrap:break-word">
                    <thead>
                        <tr>
                            <th width="125px">
                                是否已读
                            </th>
                            <th width="75px">
                                发送者
                            </th>
                            <th width="100px">
                                发送时间
                            </th>
                            <th>
                                内容
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in message_list %}
                        <tr>
                            {% if item.is_read %}
                            <td>是</td>
                            {% else %}
                            <td>否</td>
                            {% endif %}
                            <td>{{item.sender}}</td>
                            <td>{{item.time}}</td>
                            <td>{{item.content}}</td>
                        </tr>
                    {% endfor %}
                       <!-- <tr class="success">
                            <td>
                                2
                            </td>
                            <td>
                                金德水
                            </td>
                            <td>
                                2016-07-07
                            </td>
                            <td>
                                今年暑假不军训！
                            </td>
                        </tr>!-->

                    </tbody>
                </table>
            </div>
        </div>
        <form role="form">
            <div class="col-md-12 column">
                <!--<button class="btn btn-block btn-default btn-primary" type="submit" >返回</button>!-->
                <a href="/bbs/bbs-main/"><button type="button" class="btn btn-info btn-block">返回</button></a>
            </div>
        </form>
        <hr>
            <div class="row">
                <div class="text-center col-md-6 col-md-offset-3">
                    <p>Copyright &copy; 2017 &middot; All Rights Reserved &middot;</p>
                </div>
            </div>
        <hr>
    </div>

</body>

</html>