<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Kao在线测试平台</title>
    <!-- Bootstrap -->
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">  
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
function formSubmit()
  {
  document.getElementById("myForm").submit();
  }
</script>
  </head>
  <body>
    <!--标签-->
    <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="font-size: 30px"><strong><em>Kao</em></strong>在线测试系统</a>
    </div>
    
    <ul class="nav navbar-nav navbar-right">
      <li><h3 class="text-info text-center" style="font-size: 20px; margin-top: 13px; margin-left: 600px;margin-right: 100px">距离截止时间还有： <span id="timer" style="color:red;"></span></h3></li>
      <input type="button" style="font-size: 20px; margin-top: 8px;margin-right: 10px;" onclick="formSubmit()" value="退出考试">
    </ul>
  </div>
</nav>
<!--标签-->
<!--内容部分-->
<div class="row clearfix">
    <!--List-->
    <div class="col-md-2 column">
      <ul class="nav nav-stacked nav-pills">
        <li class="active">
           <a href="#Panduan" data-toggle="tab">判断题</a>
        </li>
        <li>
           <a href="#Xuanze" data-toggle="tab">选择题</a>
        </li>
      </ul>
    </div>
    <!--List-->
    <form id="myForm" class="form" action="/onlinetest/dotest/" method="post">
      {% csrf_token %}
    <div class="col-md-10 column">
      <!--HeadName-->
      <h3 class="text-center">
        
        Course<br/>{{paper.name}}
        
      </h3>
      <hr/>
      <!--HeadName-->
      <!--questions-->
      <div class="tab-content">
        <!--Panduan-->
        <div class="tab-pane active" id="Panduan">
          <!--p-->
      {% for question_pd in question_pd_list %}
        <p class="text-left">
          1-{{forloop.counter}} {{question_pd.paper}}<br/>{{question_pd.title}}
        </p>
        <div class="radio">
          <label>
      <input type="radio" name="{{question_pd.id}}" id="optionsRadios1" 
         value="T"> T
          </label>
          <label>
      <input type="radio" name="{{question_pd.id}}" id="optionsRadios2" 
         value="F">F
          </label>
      </div>
      <br/>
      {% endfor %}
      <!--p-->
        </div>
        <!--Panduan-->
        <!--Xuanze-->
        <div class="tab-pane" id="Xuanze">
          <!--x1-->
          {% for question_xz in question_xz_list %}
      <p class="text-left">
         2-{{forloop.counter}}<br/>{{question_xz.title}}
      </p>
      <div class="radio">
        {% if question_xz.choice1 != None %}
   <label>
      <input type="radio" name="{{question_xz.id}}" id="optionsRadios1" 
         value="A"> {{question_xz.choice1}}
   </label>
        {% endif %}
        {% if question_xz.choice2 != None %}
   <label>
      <input type="radio" name="{{question_xz.id}}" id="optionsRadios2" 
         value="B"> {{question_xz.choice2}}
   </label>
        {% endif %}
        {% if question_xz.choice3 != None %}
   <label>
      <input type="radio" name="{{question_xz.id}}" id="optionsRadios3" 
         value="C"> {{question_xz.choice3}}
   </label>
        {% endif %}
        {% if question_xz.choice4 != None %}
   <label>
      <input type="radio" name="{{question_xz.id}}" id="optionsRadios4" 
         value="D"> {{question_xz.choice4}}
   </label>
        {% endif %}
 </div>
 {% endfor %}
      <!--x1-->
      
        </div>
        <!--Xuanze-->
    </div>
    <!--questions-->
    <!--Submit-->
    <p class="text-center">
      请务必完成所有题目后点击提交：
      <br/>
   <input type="submit" onclick="formSubmit()" class="btn btn-primary btn-lg" value="提交">  
  </p>
    <!--Submit-->
  </div>
</form>

  <!--内容部分-->
</div>
  <!--js-->
<script>  
/*主函数要使用的函数，进行声明*/  
var clock=new clock();  
/*指向计时器的指针*/  
var timer;  
window.onload=function(){  
    /*主函数就在每50秒调用1次clock函数中的move方法即可*/  
    timer=setInterval("clock.move()",1000);  
    }  
function clock(){  
    /*s是clock()中的变量，非var那种全局变量，代表剩余秒数*/  
    this.s={{paper.limit_time}}*60;  
    this.move=function(){  
        /*输出前先调用exchange函数进行秒到分秒的转换，因为exchange并非在主函数window.onload使用，因此不需要进行声明*/  
        document.getElementById("timer").innerHTML=exchange(this.s);  
        /*每被调用一次，剩余秒数就自减*/  
        this.s=this.s-1;  
        /*如果时间耗尽，那么，弹窗，使按钮不可用，停止不停调用clock函数中的move()*/  
        if(this.s<0){  
            alert("截止时间到！");  
            document.getElementById("myForm").submit();  
            clearTimeout(timer);  
            }  
        }  
    }  
function exchange(time){  
    /*javascript的除法是浮点除法，必须使用Math.floor取其整数部分*/  
        this.h=Math.floor(time/3600);
        this.m=Math.floor((time%3600)/60);  
        /*存在取余运算*/  
        this.s=(time%60);  
        this.text=this.h+"时"+this.m+"分"+this.s+"秒";  
        /*传过来的形式参数time不要使用this，而其余在本函数使用的变量则必须使用this*/  
        return this.text;  
}  
</script>
  <!--js-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    
  </body>
</html>
